 h1{
     font-size: 50px;
     color: red;
     font-weight: 100;
}
 p{
     color: #fd5aff;
     font-size: 25px;
     text-transform: lowercase;
 }
 a{
     font-size: 50px;
     text-decoration: none;
     color: aqua;
 }
.content{
    width: 200px;
    height: 200px;
    background-color: #fd5aff;
    border: 10px dotted blue;
}
#second{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 10px inset blue;
}